{% extends "base.html"%}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% block start %}


    <p>
        <a href="{% url 'index' %}"> Home </a> | 
        <a href="{% url 'about'%}"> About </a>  
    </p>


    <div class="col-6 mx-auto">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Contact</label>
                    <input type="text" name="name" id="disabledTextInput" class="form-control" placeholder="Enter Contact">
                  </div>
                 
    
            <button type="submit" class="btn btn-success"> Submit</button>
        </form>
    
    </div>

    <div class="col-6 mx-auto mt-5">
    <ul class="list-group">
        {% for contact in contacts %}
        <li class="list-group-item">{{forloop.counter}}. {{contact.name}} <b>
            {{contact.contact_id}}</b>
        
            <a href="{% url 'delete_contact' contact.id %}" class="btn btn-danger">del</a>
        </li>
       {% endfor %}
      </ul>
  
    </div>

    <style>
        input{
            border: none !important;
        }
        label {
            font-weight: bold !important;
        }
    </style>


    {% endblock %}