{% extends "base.html"%}


{% block start %}

<div class="container p-4">


    <form>
        <input placeholder="Search.." value="{{search}}" name="search">
        <button type="submit">Search</button>
    </form>


   <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>

      <th scope="col">Phone Number</th>
      <th scope="col">DOB</th>
      <th scope="col">Skills</th>

      <th scope="col">Total skills</th>

    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>

      <td>{{student.phone_number}}</td>
      <td>{{student.date_of_birth}}</td>
      <td>{% for skill in student.skills.all %} {{skill.skill_name}},{% endfor %}</td>

      <td>{{student.num_skills}}</td>

    </tr>
    {% endfor %}

    
  </tbody>
  
</table>


<p>Age Sum : {{student_age_sum}}</p>
<p>Age AVG : {{student_age_avg}}</p>
<p>Age Max : {{student_age_max}}</p>
<p>Age Min : {{student_age_min}}</p>

   
   

  
</div>

{% endblock %}